.ext-strict .ext-ie6 .x-layout-split {
	BACKGROUND-COLOR: #dfe8f6
}
.add {
	BACKGROUND-IMAGE: url(../img/icon/add.gif)! important
}
.delete {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.remove {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.help {
	BACKGROUND-IMAGE: url(../img/icon/help.png)! important
}
.refresh {
	BACKGROUND-IMAGE: url(../js/ext/resources/images/default/grid/refresh.gif)! important
}
.bjgl {
	BACKGROUND-IMAGE: url(../img/icon/bjgl.png)! important
}
.jlsb {
	BACKGROUND-IMAGE: url(../img/icon/jlsb.png)! important
}
.pzgl {
	BACKGROUND-IMAGE: url(../img/icon/pzgl.png)! important
}
.sjgl {
	BACKGROUND-IMAGE: url(../img/icon/sjgl.png)! important
}
.tjbb {
	BACKGROUND-IMAGE: url(../img/icon/tjbb.png)! important
}
.user {
	BACKGROUND-IMAGE: url(../img/icon/user.png)! important
}
.yxjg {
	BACKGROUND-IMAGE: url(../img/icon/yxjg.png)! important
}
.yygl {
	BACKGROUND-IMAGE: url(../img/icon/yygl.png)! important
}
.ptgl {
	BACKGROUND-IMAGE: url(../img/icon/ptgl.png)! important
}
.xtgl {
	BACKGROUND-IMAGE: url(../img/icon/xtgl.png)! important
}
.sjygl {
	BACKGROUND-IMAGE: url(../img/icon/sjygl.png)! important
}
.wlgl {
	BACKGROUND-IMAGE: url(../img/icon/wlgl.png)! important
}
.removeall {
    BACKGROUND-IMAGE: url(../img/icon/removeall.png)! important
}
.usertwo {
    BACKGROUND-IMAGE: url(../img/png/user.png)! important
}
.certuser {
    BACKGROUND-IMAGE: url(../img/png/certuser.png)! important
}
.serverset {
    BACKGROUND-IMAGE: url(../img/png/serverset.png)! important
}
.serversettwo {
    BACKGROUND-IMAGE: url(../img/png/serversettwo.png)! important
}
.serverthree {
    BACKGROUND-IMAGE: url(../img/png/serverthree.png)! important
}
.set {
    BACKGROUND-IMAGE: url(../img/png/set.png)! important
}
.setting {
    BACKGROUND-IMAGE: url(../img/png/setting.png)! important
}
.settwo {
    BACKGROUND-IMAGE: url(../img/png/settwo.png)! important
}
.system {
    BACKGROUND-IMAGE: url(../img/png/system.png)! important
}
.wifi {
    BACKGROUND-IMAGE: url(../img/png/wifi.png)! important
}
.audit {
    BACKGROUND-IMAGE: url(../img/png/audituser.png)! important
}
.monitor {
    BACKGROUND-IMAGE: url(../img/png/monitor.png)! important
}
.crl16 {
    BACKGROUND-IMAGE: url(../img/png/crl16.jpg)! important
}
.down {
    BACKGROUND-IMAGE: url(../img/icon/down.png)! important
}
.upload {
    BACKGROUND-IMAGE: url(../img/icon/upload.png)! important
}
.download {
    BACKGROUND-IMAGE: url(../img/icon/download.png)! important
}
